@using BookSto.Models
@model donnhap
@{
    ViewBag.Title = "ChinhSuaPhieuNhapKho";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    nguoidung temp_nhanvien = TempData["nhanvien"] as nguoidung;
    TempData.Keep("nhanvien");
    List<nguoidung> temp_lst_khachhang = TempData["lst_khachhang"] as List<nguoidung>;
    TempData.Keep("lst_khachhang");
    //chi tiet
    List<ctdonnhap> ctpnk = ViewBag.ctpnk as List<ctdonnhap>;
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Sửa Phiếu Nhập Kho</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form action="@Url.Action("ChinhSuaPhieuNhapKho", "Admin")" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input type="hidden" id="MaDN" name="MaDN" value="@Model.MaDN">
                            </div>
                            <div class="form-group">
                                <label>Nhân Viên:</label>
                                <input type="hidden" id="MaNhanVien" name="MaNhanVien" value="@Model.MaNhanVien">
                                <input class="form-control" disabled id="exampleInputDisabled1" value="#@temp_nhanvien.MaNguoiDung - @temp_nhanvien.HoTen">
                            </div>
                            <label>Khách hàng:</label>
                            @if (Model.TrangThai == 0 || Model.TrangThai == 1)
                            {
                                foreach (nguoidung item in temp_lst_khachhang)
                                {
                                    if (item.MaNguoiDung == Model.MaKhachHang)
                                    {
                                        <input class="form-control" disabled id="MaKhachHang" name="MaKhachHang" value="#@Model.MaKhachHang - @item.HoTen">
                                    }
                                }
                            }
                            else
                            {
                                <select class="form-control" id="MaKhachHang" name="MaKhachHang">
                                    @if (temp_lst_khachhang.Count() > 0 && temp_lst_khachhang != null)
                                    {
                                        foreach (nguoidung item in temp_lst_khachhang)
                                        {
                                            if (item.MaNguoiDung == Model.MaKhachHang)
                                            {
                                                <option selected value="@Model.MaKhachHang">#@Model.MaKhachHang - @item.HoTen</option>
                                            }
                                            else
                                            {
                                                <option value="@item.MaNguoiDung">#@item.MaNguoiDung - @item.HoTen</option>
                                            }
                                        }
                                    }


                                </select>
                            }

                            <div id="name_vitri" class="form-group">
                                <label>Ghi chú :</label>
                                @if (Model.TrangThai == 0 || Model.TrangThai == 1)
                                {
                                    <input disabled id="GhiChu" name="GhiChu" value="@Model.GhiChu" type="text" class="form-control" placeholder="">
                                }
                                else
                                {
                                    <input id="GhiChu" name="GhiChu" value="@Model.GhiChu" type="text" class="form-control" placeholder="">
                                }
                            </div>
                            <div class="form-group">
                                <label>Trạng Thái:</label>
                                @if (Model.TrangThai == 0 )
                                {
                                    <input disabled id="TrangThai" name="TrangThai" value="Hủy đơn" type="text" class="form-control" placeholder="">
                                }
                                @if ( Model.TrangThai == 1)
                                {
                                    <input disabled id="TrangThai" name="TrangThai" value="Hoàn thành" type="text" class="form-control" placeholder="">
                                }
                                else
                                {
                                    <select class="form-control" id="TrangThai" name="TrangThai">
                                        @for (int? item = 2; item >= 0; item--)
                                        {
                                            if (Model.TrangThai == item)
                                            {
                                                switch (Model.TrangThai)
                                                {
                                                    case 2:
                                                        <option selected value="@item">Đang xử lý</option>
                                                        break;
                                                    case 1:
                                                        <option selected value="@item">Hoàn Thành</option>
                                                        break;
                                                    case 0:
                                                        <option selected value="@item">Hủy đơn</option>
                                                        break;
                                                }
                                            }
                                            else
                                            {
                                                switch (@item)
                                                {
                                                    case 2:
                                                        <option value="@item">Đang xử lý</option>
                                                        break;
                                                    case 1:
                                                        <option value="@item">Hoàn Thành</option>
                                                        break;
                                                    case 0:
                                                        <option value="@item">Hủy đơn</option>
                                                        break;
                                                }
                                            }

                                        }
                                    </select>
                                }
                            </div>
                            <div class="iq-card-body">
                                <div class="table-responsive">
                                    <h5 class="card-title">Chi tiết phiếu nhập</h5>
                                    <table style="text-align: center;" class="data-tables table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 30%;">Tên Sách</th>
                                                <th style="width: 7%;">Ảnh</th>
                                                <th style="width: 8%;">Số Thùng</th>
                                                <th style="width: 8%;">Sách/thùng</th>
                                                <th style="width: 12%;">Giá Nhập/Thùng</th>
                                                <th style="width: 12%;">Thành Tiền</th>
                                                @if (Model.TrangThai == 2)
                                                {
                                                    <th style="width: 10%;">Thao Tác</th>
                                                }
                                            </tr>
                                        </thead>
                                        @{
                                            if (ctpnk != null)
                                            {
                                                foreach (ctdonnhap item in ctpnk)
                                                {
                                                    <tr>
                                                        <td style="text-align: left;">#@item.MaSach - @item.sach.TenSach</td>
                                                        <td><img class="img-fluid rounded" src="@Url.Content("~/assets/book_images/" + item.sach.Anh)" alt=""></td>
                                                        <td>x @item.SoLuong</td>
                                                        @foreach (thungsach ts in item.thungsaches)
                                                        {
                                                            if (ts.SoLuongSach != null)
                                                            {
                                                                <td>@ts.SoLuongSach</td>
                                                                break;
                                                            }
                                                        }
                                                        <td>@String.Format("{0:N0}", item.GiaNhap) ₫</td>
                                                        <td>@String.Format("{0:N0}", item.GiaNhap * item.SoLuong) ₫</td>
                                                        @if (Model.TrangThai == 2)
                                                        {
                                                            <td>
                                                                <div class="flex align-items-center list-user-action">
                                                                    <a href="@Url.Action("XoaCTPNK","Admin", new { MaCTDonNhap = item.MaCTDonNhap, @Url = Request.Url.ToString() })" class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="ri-delete-bin-line"></i></a>
                                                                </div>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tổng tiền :</label>
                                <input disabled id="TongTien" name="TongTien" value="@String.Format("{0:N0}", @Model.TongTien) ₫" type="text" class="form-control" placeholder="">
                            </div>
                            <div  class="form-group">
                                <label>Ngày tạo :</label>
                                <input disabled id="NgayTao" name="NgayTao" value="@Model.NgayTao" type="text" class="form-control" placeholder="">
                            </div>
                            @if (Model.TrangThai != 0 || Model.TrangThai == 1)
                            {
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
